.clearfix {
  clear: both;
}

.navbar {
  background: #e84c3d;
  color: #fff;
}

.title {
  font-size: 20px;
  position: fixed;
  z-index: 2;
  top: 12px;
  left: 46%;
}

.logo {
  display: inline-block;
  overflow: hidden;
  width: 40px;
  height: 51px;
  text-indent: -1000px;
  color: #fff;
  background: url(/images/goy.png) center 13px no-repeat;
  background-size: 100%;
  cursor: pointer;
}

.auth-info {
  float: right;
  font-size: 13px;
  font-weight: bold;
  margin-top: 8px;
}

.auth-info .picture {
  height: 35px;
  width: 35px;
  margin-right: 5px;
  cursor: pointer;
}

.auth-info .facebook-login {
  font-size: 14px;
  color: white;
  margin-top: 10px;
  display: inline-block;
  cursor: pointer;
}

.content {
  border: 1px solid #ddd;
  padding: 10px;
  height: 100vh;
}

.room-item {
  border: 1px solid;
  border-radius: 50%;
  width: 152px;
  height: 152px;
  cursor: pointer;
  float: left;
  margin-right: 50px;
  margin-bottom: 50px;
  background-color: #ff7473;
  color: white;
  text-align: center;
  position: relative;
}

.room-item p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.leftSide {
  width: 20%;
  height: 100vh;
  float: left;
  border-right: 1px solid #ddd;
}

.rightSide {
  width: 80%;
  float: left;
  position: relative;
  overflow: hidden;
}

.message-input {
  outline: none;
  position: fixed;
  width: 63.5%;
  height: 50px;
  bottom: 0px;
}

.message img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.message.right {
  text-align: right;
}

.message .text {
  border-radius: 20px;
  padding: 10px 20px;
}

.message.right .text {
  background-color: #0084ff;
  color: #fff;
}

.message.left .text {
  background-color: #f1f0f0;
  color: rgba(0, 0, 0, 1)
}

.member, .battling-member {
  margin-bottom: 20px;
}

.member img, .battling-member img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 5px;
}

.members {
  margin-top: 100px;
  border-top: 1px solid #ddd;
}

.members h4, .battling-members h4 {
  font-size: 14px;
  color: rgba(0, 0, 0, .40);
}

.ratings {
  margin-top: 5px;
  margin-left: 5px;
}

button.rate {
  border-radius: 40%;
  font-size: 10px;
  height: 20px;
  width: 20px;
  margin-right: 3px;
  padding: 0px;
}

button.rate.active {
  background-color: #e84c3d;
  color: #fff;
}

.won-message {
  text-align: center;
  margin-top: 200px;
  font-size: 30px;
  color: #e84c3d;
}
